@import url('css/fonts.css');
@import url('css/block_header.css');
@import url('css/burger.css');
@import url('css/footer.css');
@import url('css/button_tgs.css');
@import url('css/hover.css');
@import url('css/nav.css');
.bb {border: 1px solid red;}
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background-color: black;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    position: relative;
    top: 160px;
    height: 800px;
}

.content-body {
    height: 800px;
    background-image: url("img/background/price.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content-block {
    min-height: 800px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
    background: rgba(7, 7, 7, 0.5);
}
.content-block:hover {
    backdrop-filter: blur(5px);
    transition: 0.5s ease-in-out;
}

.services {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}
h2 {
    font-family: "VoiceFont", sans-serif;
    font-size: 34px;
    font-weight: 100;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -3%;
}
h3 {
    font-family: "Letter", sans-serif;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #e3d283;
    font-weight: 300;
    padding: 15px;
}
.presale-diagnostic {
    display: block;
    align-items: center;
    margin: 3% 15px;
}

.computer-diagnostic {
    /*position: center;*/
    display: block;
    align-items: center;
    margin: 0 15px;
    /*margin: 30px;*/
}

.collapsible {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: flex;
    left: 50%;
    margin-top: 5%;
    opacity: 65%;
    font-family: EuropeExtendedC,sans-serif;
    letter-spacing: 2px;
    justify-content: center;
}
.collapsible:after {
    font-family: EuropeExtendedC,sans-serif;
    letter-spacing: 2px;
}
.active,.collapsible:hover{
    background-color: rgba(150,150,150,0.5);
    color: white;
}
a {
    list-style-type: none;
    text-decoration: none;
    color: darkgray;
}
.button {
    width: 30%;
    margin: 5% auto;
}
@media (max-width: 1130px) {
    html,body {overflow-y: scroll;}
    h2 {font-size: 28px;}
}

@media (max-width: 768px) {
    body.lock {overflow: hidden;}
    .content-block {backdrop-filter: blur(3px);box-shadow: none;}
}
@media (max-width: 644px) {
    .main {overflow-y: scroll;}
    .collapsible {margin-top: 5%;}
}
@media (max-width: 495px) {
    h2 {font-size: 28px;}
    .collapsible {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 10%;
    }
}
@media (max-width: 468px) {
    h2 {
        font-size: 26px;
        line-height: 20px;
        letter-spacing: 4px;
    }
    .collapsible {margin-top: 5%;}
    .paragraph p {font-size: 14px;}
}
@media (max-width: 385px) {
    .main {top: 120px;}
    h2 {letter-spacing: 1px;font-size: 22px;}
    .paragraph p {font-size: 12px;}
}
@media (max-width: 299px) {
    h2 {letter-spacing: 1px;font-size: 18px;}
    .collapsible {font-size: 10px;}
}



