@import url('css/fonts.css');
@import url('css/block_header.css');
@import url('css/burger.css');
@import url('css/footer.css');
@import url('css/button_tgs.css');
@import url('css/hover.css');
@import url('css/nav.css');
/*@import url('css/telegram.css');*/
.bb {border: 1px solid red;}
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    position: relative;
    top: 160px;
    height: 800px;
}
.content-body {
    height: 800px;
    background-image: url("img/background/diagnostic.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.content-block {
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
}
.services-block-item {
    display: block;
    position: relative;
    justify-content: space-around;
    backdrop-filter: blur(3px);
    background: rgba(7, 7, 7, 0.5);
}
.services-block-item:hover {
    backdrop-filter: blur(5px);
    transition: 0.5s ease-in-out;
}

.services-t-o {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}
.hh {
    margin-top: 0;
    display: block;
    position: center;
}
.hh-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
h2 {
    font-family: "VoiceFont", sans-serif;
    font-size: 34px;
    font-weight: 100;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -2%;
}

.description p {
    font-family: "Letter", sans-serif;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #e3d283;
    font-weight: 300;
    padding: 15px;
}

.icon-to {
    margin: 0 auto;
    background-image: url("img/catalog/to.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    height: 110px;
    width: 150px;
}
.icon-ko {
    margin: 0 auto;
    background-image: url("img/catalog/comprehensiveservice.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    height: 110px;
    width: 160px;
}
.icon-warranty  {
    margin: 0 auto;
    background-image: url("img/catalog/warrantycar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    height: 110px;
    width: 160px;
}

.details {padding-top: 1%;}

.collapsible {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 14px;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: flex;
    left: 50%;
    margin-top: 3%;
    opacity: 65%;
    font-family: EuropeExtendedC,sans-serif;
    letter-spacing: 2px;
    justify-content: center;
}
.collapsible:after {
    font-family: EuropeExtendedC,sans-serif;
    letter-spacing: 2px;
}
.active,.collapsible:hover{
    background-color: rgba(150,150,150,0.5);
    color: white;
}
a {
    list-style-type: none;
    text-decoration: none;
    color: darkgray;
}
.button {
    width: 25%;
    margin: 5% auto;
}
@media (max-width: 1190px) {
    html,body {overflow-y: scroll;}
    h2 {font-size: 28px;}
}
@media (max-width: 1000px) {
    .details {margin-top: 0;}
    .services-t-o {flex-direction: column;}
    h2 {padding-top: 1%}
    .hh-1 {margin: 0 auto 8%}
}
@media (max-width: 768px) {
    body.lock {overflow: hidden;}
    .services-block-item {
        backdrop-filter: blur(4px);
        box-shadow: none;
    }
    .header-subtitle {display: none;}
}
@media (max-width: 644px) {
    .main {overflow-y: scroll;}
    .collapsible {margin-top: 5%;}
}
@media (max-width: 495px) {
    h2 {font-size: 28px;}
    .hh-1 {margin: 0 auto 12%}
    .collapsible {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 10%;
    }
}
@media (max-width: 468px) {
    .content-body {background-attachment: fixed;}
    h2 {
        margin-top: 1%;
        font-size: 26px;
        line-height: 20px;
        letter-spacing: 4px;
    }
    .hh-1 {margin: 0 auto 13%}
    .collapsible {margin-top: 5%;}
    .paragraph p {font-size: 14px;}
}
@media (max-width: 385px) {
    .icon-to,.icon-ko,.icon-warranty {
        height: 85px;
        width: 120px;
        background-size: 100% 100%;
    }
    .main {margin-top: -15%;}
    .services-block-item {padding: 0;}
    .content-body {margin-top: 0;}
    h2 {
        letter-spacing: 1px;
        font-size: 22px;
    }
    .hh-1 {margin: 0 auto 15%}
    .paragraph p {font-size: 12px;}
}
@media (max-width: 299px) {
    h2 {font-size: 18px;}
    .hh-1 {margin: 0 auto 20%}
    .collapsible {font-size: 10px;}
    p a {font-size: 16px;letter-spacing: 0;}
}





